.nav-account-right {
  margin-right: 15px;
}
.nav-account-left {
  margin-left: 10px;
}
.navbar {
  padding: 5px 0;
}
.body-spacing {
  margin-bottom: 20px;
}
.left-menu-buttons {
  margin: 15px;
  width: 90%;
}
