.nav-account-right {
  margin-right: 15px;
}

.nav-account-left {
  margin-left: 10px;
}

.navbar {
  padding: 5px 0;
}

.body-spacing {
  margin-bottom: 20px;
}

.left-menu-buttons {
  margin: 2px 0;
  width: 90%;
}

.page-header {
  margin-top: 0;
}

input[type="radio"] {
  margin: 0 5px 0 10px;
}

.inline-this {
  display: inline;
}

.hidethisforfuture {
  display: none;
}

.align-left {
  text-align: left;
}
// .history-radios {
//
// }
