.nav-title {
  font-size: 16px;
}
.signupstatus {
  font-size: 18px;
  font-style: italic;
}
.centerthis {
  text-align: center;
}
.modal-body {
  text-align: center;
}
.gameid-title {
  text-decoration: underline;
}
.gameid-indicator {
  font-size: 50px;
}
.errormessage {
  color: red;
  visibility: hidden;
}
.history-title {
  text-decoration: underline;
  font-size: 20px;
}
.empty-game-history {
  display: none;
  color: red;
}
.game-history {
  text-align: left;
}
.pointer {
  cursor: pointer;
}
.history-display-container {
  display: inline;
}
.fatal-errors {
  color: red;
  font-size: 20px;
  margin-top: 30px;
}
.statistics-error {
  visibility: hidden;
}
.two-statistics {
  border-top: solid 2px black;
}
.loadstatus {
  color: red;
  visibility: hidden;
}
ul {
  list-style-type: none;
}
li {
  text-indent: -10px;
}
#welcome-message {
  text-align: center;
  opacity: .6;
  font-size: 25px;
}
