.nav-title {
  font-size: 16px;
}
.signupstatus {
  font-size: 18px;
  font-style: italic;
}
.centerthis {
  text-align: center;
}
.modal-body {
  text-align: center;
}
.gameid-title {
  text-decoration: underline;
}
.gameid-indicator {
  font-size: 50px;
}
.errormessage {
  color: red;
  visibility: hidden;
}
.history
#welcome-message {
  text-align: center;
  opacity: .6;
  font-size: 25px;
}
